<html>
<head>
   
     <link rel="stylesheet" href="styles.css">
     <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">

    <div class="header">
        <div class="header-right">
         
            <a href="/">Home</a> 
            <a href="/addtasks">Add New Task</a>
            <a href="listtasks">List All Tasks</a>
           
        </div>
     
    </div>
  
</head>

<body>
    </br>
    <h1>
        <table border = "0" >
            <tr>
                <th>Name</th>
                <th>Due Date</th>
                <th>Description</th>
            </tr>
            <% for (let i =0; i< taskdb.length;i++){ %>
                <tr>
                    <td>
                        <%= taskdb[i].name %>
                    </td>
                    <td>
                        <%= taskdb[i].due %>
                    </td>
                    <td>
                        <%= taskdb[i].description %>
                    </td>
                </tr>
                <% }%>
    </h1>
</body>
</html>